html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-anchor: none;
}
body {
	background: black;
}
body > * {
	max-width: 150vh;
	margin: 0 auto;
	height: 100%;
}
.grid {
	display: grid;
}
.row {
	display: flex;
}
.row * {
	flex: 1;
}
spinblot {
	display: block;
	position: relative;
	overflow: hidden;
}
spinblot canvas {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.vis {
	pointer-events: none;
	transition: opacity 0.1s ease;
}
spinblot.done .vis {
	opacity: 0;
	transition: opacity 0.3s ease;
}
spinblot.fade .back {
	opacity: 0;
	transition: opacity 2s ease-in;
}

a spinblot {
	height: 100%;
}

body.all {
	background: #001122;
}

body.all main {
	padding: 30px;
	height: auto;
}

body.all spinblot {
	transition: 0.5s ease transform, 0.5s ease background;
}

body.all spinblot:hover {
	transform: scale(1.3);
	background: #000000;
	filter: hue-rotate(60deg);
	animation: rainbow 6s linear infinite;
	z-index: 1;
}

@keyframes rainbow {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}
